services:
  cinemadle-backend:
    container_name: cinemadle
    image: hodgeswt/cinemadle:latest
    pull_policy: never
    ports:
      - 5000:8080
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - CINEMADLE_TEST_MODE=false
      - ASPNETCORE_URLS=http://+:8080
    volumes:
      - ./AppData:/root/.local/share/AppData
      - type: bind
        source: ./backend-dotnet/appsettings.json
        target: /app/appsettings.json
    restart: unless-stopped
    networks:
      - cinemadle-network

  cinemadle-frontend:
    container_name: cinemadle-frontend
    image: hodgeswt/cinemadle-frontend:latest
    pull_policy: never
    ports:
      - 8080:80
    restart: unless-stopped
    networks:
      - cinemadle-network

networks:
  cinemadle-network:
    driver: bridge